
.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.background-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  width: 1800px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  background-position: center;
  border-radius: 5px;
  position: relative;
  background-repeat:no-repeat;
  background-size: 100% auto;
  background-image: url(/images/willian-justen-de-vasconcellos-T_Qe4QlMIvQ-unsplash.jpg);

}


h1 {
   color: white;
   font-size: 2.5em;
    
}