.stage {
  display: flex;
  justify-content: center;
}

.stage-container {
  display: flex;
  border: 1px groove;
  border-color: #325b68;
  width: 1800px;
  justify-content: center;
  margin: 25px 0 0;
  padding: 40px 0;
}
.circle-text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #325b68;
  position: relative;
  left: 15px;
}
.circle-text2,
.circle-text3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #325b68;
}

.stage p {
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgba(50, 91, 104, 0.2);
}

.circle1,
.circle2,
.circle3 {
  height: 100px;
  width: 100px;
  background-color: rgba(50, 91, 104, 0.2);
  border-radius: 50%;
  flex-direction: column;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-check {
  color: white;
}

.circle-text1:hover .circle1 {
  background-color: #1dac45;
  transition: 0.8s;
}
.circle-text1:hover .text1 {
  color: #1dac45;
  transition: 0.8s;
}
.circle-text2:hover .circle2 {
  background-color: #1dac45;
  transition: 0.8s;
}
.circle-text2:hover .text2 {
  color: #1dac45;
  transition: 0.8s;
}

.line {
  height: 10px;
  width: 200px;
  background: #325b68;
  position: relative;
  top: 47px;
  background-color: rgba(50, 91, 104, 0.2);
}
.successful-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.successful-text2 {
  padding-bottom: 30px;
}

.back-to-home {
  margin-top: 30px;
  padding: 20px;
  background-color: #325b68;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  max-width: 940px;
}
.successful-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  
  
}
.successful-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(/images/checkout3.jpg);
  max-width: 1800px;
  margin: 0 auto;
  padding-top: 25px;
}

.successful-container img {
  width: 200px;
  height: 200px;
}
.successful-text {
  font-size: 2.5rem;
}

.hr1 {
  display: #325b68;
  margin-top: 7em;
  margin-bottom: 7em;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  border-style: inset;
  border-width: 2px;
}
.hr2 {
  display: #325b68;
  border-width: 1.5px;
  margin-top: 2em;
  margin-bottom: 7em;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  border-style: inset;
}
/*tablet and phone*/
@media only screen and (max-width: 768px) {
  .circle1,
  .circle2,
  .circle3 {
    width: 70px;
    height: 70px;
  }

  .line {
    height: 7px;
    width: 100px;
    top: 34px;
  }

  .stage p {
    font-size: 1.1rem;
  }
  .successful-container img {
    width: 150px;
    height: 150px;
  }
  .successful-text {
    font-size: 2rem;
  }
  .successful-text2 {
    font-size: 1.3rem;
  }
  .hr1 {
    margin: 6em 0em;
  }
  .hr2 {
    margin-bottom: 5em;
  }
}

/*phone*/
@media only screen and (max-width: 480px) {
  .circle1,
  .circle2,
  .circle3 {
    width: 50px;
    height: 50px;
  }

  .line {
    height: 7px;
    width: 50px;
    top: 24px;
  }

  .stage p {
    font-size: 0.8rem;
  }
  .circle-text1 {
    left: 5px;
  }
  .successful-container img {
    width: 100px;
    height: 100px;
  }
  .successful-text {
    font-size: 1.5rem;
  }
  .successful-text2 {
    font-size: 1rem;
  }
}
