.stage {
  display: flex;
  justify-content: center;
}

.stage-container {
  display: flex;
  border: groove 1px #325b68;
  width: 1800px;
  justify-content: center;
  margin: 25px 0px;
  padding: 40px 0px;
}
.circle1 {
  height: 100px;
  width: 100px;
  background-color: #325b68;
  border-radius: 50%;
  flex-direction: column;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle1 p {
  color: white;
}
.circle-text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #325b68;
  position: relative;
  left: 15px;
}
.circle-text1 h1 {
  font-size: 1.6rem;
}
.circle2 {
  height: 100px;
  width: 100px;
  background-color: rgba(50, 91, 104, 0.2);
  border-radius: 50%;
  flex-direction: column;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle2 p {
  color: white;
}
.circle-text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #325b68;
}

.payment-complete {
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgba(50, 91, 104, 0.2);
}

.line {
  height: 10px;
  width: 200px;
  background: #325b68;
  position: relative;
  top: 47px;
  background-color: rgba(50, 91, 104, 0.2);
}

.information-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.information-container form {
  background-color: #f6f6f6;
  width: 1765px;
  padding: 20px;
  border: groove 1px #325b68;
}

.information-container form .row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.information-container form .row .col {
  margin: 15px;
  color: #325b68;
  flex: 1 1 380px; /*255px*/
}

.information-container form .row .col1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.information-container form .row .col1 .total {
  font-weight: 700;
}
.information-container form .row .col p {
  font-size: 1.3rem;
}

.information-container form .row .col .jacket-container {
  border: groove 1px #325b68;
  min-width: 370px;
  background-color: white;
  margin-top: 15px;

  padding: 25px;
}
.item-name {
  padding-bottom: 2px;
}
.total-price {
  padding: 30px;
}

input {
  padding-left: 10px;
}
.input {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  font-size: 1.3rem;
}
.input input {
  height: 40px;
  margin-top: 10px;
  font-size: 1rem;
  width: auto;
  border: groove 0.5px #325b68;
}

.icon-h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon-h2 .fa-cart-shopping {
  font-size: 1.5em;
}

.jacket {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.vertical-line {
  width: 1px;
  background-color: #325b68;
  height: auto;

  margin: -5px 0px;
}
.hr-left {
  background-color: #325b68;
  height: 1px;
  margin: 15px -17px 15px -20px;
}
.hr-right {
  background-color: #325b68;
  height: 1px;
  margin: 15px -17px 15px -15px;
}
.hr-summary {
  background-color: #325b68;
  height: 1px;
  position: relative;
  bottom: 20px;
  margin: 15px -20px 0px;
  display: none;
}

.increase-qty,
.decrease-qty {
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #325b68;
  color: white;
  cursor: pointer;
}
.increase-qty {
  margin-left: 10px;
}
.decrease-qty {
  margin-right: 10px;
}
.quantity-container {
  display: flex;
  padding-top: 20px;
}

.item-quantity {
  padding: 0px 10px;
  border: 1px solid;
}

.hidden {
  display: none;
}

.cart-message-style {
  padding-bottom: 15px;
  color: red;
  width: 50%;
  margin: 0 auto;
}
.container-submit {
  display: flex;
  justify-content: center;
}
.opacity-reduced {
  opacity: 0.5;
}

.submit-button {
  background-color: #325b68;
  width: 30vw;
  min-width: 300px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  justify-content: center;
}
.submit-button:hover {
  background-color: #1dac45;
  transition: 0.8s;
}
.submit-flex {
  display: flex;
  justify-content: center;
  position: relative;
  top: 455px;
}
/*Ultrawide+*/
@media only screen and (min-width: 2900px) {
  .cart-message-style {
    width: 15%;
  }
}

@media only screen and (max-width: 925px) {
  .vertical-line {
    visibility: hidden;
  }
}
/*breakpoint-checkout*/
@media only screen and (max-width: 677px) {
  .submit-flex {
    top: 0;
  }
  .hr-left {
    margin-right: -20px;
  }
  .hr-right {
    margin: 0px -20px;
  }
  .vertical-line {
    visibility: hidden;
  }
  .col1 {
    padding-bottom: 10px;
  }

  .hr-summary {
    display: hidden;
  }
  .submit-flex {
    margin: 25px 0px 5px;
  }
  .information-container form .row .col .jacket-container {
    min-width: 346px;
  }
}

/*tablet and phone*/
@media only screen and (max-width: 768px) {
  .circle1,
  .circle2 {
    width: 70px;
    height: 70px;
  }

  .line {
    height: 7px;
    width: 100px;
    top: 34px;
  }
  .circle-text1 h1 {
    font-size: 1.1rem;
  }
  .circle-text2 p {
    font-size: 1.1rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .information-container form .row .col .input {
    font-size: 1.1rem;
  }
  .information-container form .row .col p {
    font-size: 1.2rem;
  }
  .submit-flex {
    top: 430px;
  }
}

/*phone*/
@media only screen and (max-width: 480px) {
  .circle1,
  .circle2 {
    width: 50px;
    height: 50px;
  }

  .line {
    height: 7px;
    width: 50px;
    top: 24px;
  }
  .circle-text1 h1,
  .circle-text2 p {
    font-size: 0.8rem;
  }

  .circle-text1 {
    left: 5px;
  }
  #submit-button {
    min-width: 250px;
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.1rem;
  }
  .information-container form .row .col .input {
    font-size: 1rem;
  }
  .information-container form .row .col p {
    font-size: 1rem;
  }
  .information-container form .row .col .jacket-container {
    min-width: 297px;
    padding: 10px;
  }
  .information-container {
    padding: 0px;
  }
  .information-container form {
    padding: 10px;
  }
  .information-container form .row {
    margin: 0px;
  }
}
