.img-text {
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  margin: 0 auto;
  align-items: center;
  font-size: 27px;
}

.background-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
  height: 50vh;  
  background-position: center;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: url(/images/eddy-billard-42nzwGteFgI-unsplash-compressed.jpg);
}

.contact-text-container {
  display: flex;
  justify-content: center;
}
.contact-text {
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
  background-color: #f6f6f6;
  border: groove 1px #325b68;
  border-radius: 5px;
  width: 1600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.e-mail {
  text-decoration: underline;
  color: #325b68;
}

h1 {
  color: white;
  background-color: #325b68;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
h2 {
  color: #325b68;
  margin: 25px;
  font-size: 1.7rem;
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form label {
  color: #325b68;
  font-size: 1.4rem;
  margin-bottom: 15px;
  margin-top: 15px;
}
.contact-form input {
  width: 42vw;
  padding: 15px;
  border: groove 1px #325b68;
  max-width: 940px;
}
.contact-form .large-text {
  padding-bottom: 80px;
}
.send-button {
  margin-top: 30px;
  padding: 20px;
  background-color: #325b68;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  max-width: 940px;
}
.send-button:hover {
  background-color: #1dac45;
  transition: 0.8s;
}

/*tablet and phone*/
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.24rem;
  }
 
  
  .contact-form lable {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
/*phone*/
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  .background-img {
    height: 400px;
  }
  .contact-form lable {
    font-size: 1.1rem;
  }
  .send-button {
    font-size: 1.3rem;
  }
}
