@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 25px;
  max-width: 1800px;
  margin: 0 auto;
  color: #325b68;
}
.hero-section .image-smallscreen {
  display: none;
}
.hero-text {
  flex: 1;
  padding: 50px;
}

h1 {
  font-size: 2.1em;
}

.h1-text {
  display: block;
  font-weight: 900;
  font-size: 1.7em;
}

.h1-undertext {
  margin: 80px 0;
  font-size: 1.5em;
}

.cta-buttons {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.cta-buttons a {
  padding: 15px 20px;
  border: none;
  background-color: #325b68;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.6em;
  border-radius: 10px;
  white-space: nowrap;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cta-buttons a:hover {
  background-color: #1dac45;
}

.hero-image {
  flex-basis: 80%;
}

.hero-image img {
  width: 100%;
  display: block;
}

/*js*/
.content-section {
  max-width: 1800px;
  width: 100%;
  margin: auto;
  background-color: #F2FEFF;
  box-shadow: 12px 0 15px -4px rgba(50, 91, 104, 0.1),
    -12px 0 8px -4px rgba(50, 91, 104, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  width: 100%;
}
.product-heading {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  color: #325b68;
  width: 100%;
}
.product-heading .left {
  padding-left: 6.5%;
  font-weight: bolder;
  font-size: 1.4em;
}
.product-heading .right {
  padding-right: 6.5%;
  font-weight: thin;
}
.product-heading .right a {
  color: inherit;
}
.product-heading .right a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.background-product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.first-group,
.second-group {
  width: 100%;
}
.product1-container {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin: 0 0 100px;
}

.product1 {
  display: flex;
  
}
.product1 a {
  max-width: 372px;
  width: 100%;
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 
  0 6px 6px rgba(0, 0, 0, 0.29);
  border-radius: 10px; 
  overflow: hidden;
  margin: 20px;
}


.item1 {
  width: 282px;
  height: 319px;
  padding: 35px 45px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  background-color: white;
  vertical-align: top;
}
.item1:hover ~ .product1-text {
  text-decoration: 2px underline;
}
.text-container {
  background-color: #325b68;
  border-radius: 0 0 10px 10px;
  min-height: 131px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.product1 a:hover .text-container {
  background-color: #1dac45;
}
.product1-text {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  padding: 15px 10px 10px 15px;
  
}
.original-price {
  text-decoration: line-through;
  padding-left: 15px;
  margin-top: -5px;
  color: white;
  font-size: 1.2rem;
}

.discount-label {
  color: #325b68;
  font-size: 1.2rem;
  padding: 10px;
  background-color: #8AD2D9;
  max-width: 100px;
  border-radius: 10px 0 0 0px;
  align-self: flex-end;
}



.strike-tag {
  text-decoration: line-through;
}


.slider {
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.slides {
  display: flex;
  transition: transform 0.5s;
}

.slide {
  min-width: 100%; 
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}
figcaption, .slide p {
  text-align: center;
  padding: 12px;
  background-color: #325b68;
  color: white;
}
figcaption {
  margin: 0;
  font-size: 1.65em;
}
.slide p {
  font-size: 1.3em;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #325b68;
}

/* Her/Him section  */
.her-him-container,
.image-overlay {
  display: flex;
  width: 100%;
  max-width: 1800px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.image-overlay {
  position: relative;
}

.overlay-text {
  position: absolute;
  font-size: 36px;
  background-color: rgba(50, 91, 104, 0.7);
  border-radius: 10px;
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

.image-overlay img {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease-in-out;
}

.image-overlay:hover img {
  filter: blur(5px);
}

.image-overlay:hover .overlay-text {
  opacity: 1;
}

.loading-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 100px;
  display: none;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #325b68;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
.error-message {
  color: #f95a69;
  padding: 100px 50px 50px;
  font-size: 1.3em;
}


/* large desktop  */
@media only screen and (min-width: 1500px) {
  .hero-section {
    padding-top: 25px;
  }
  .hero-text {
    padding: 50px 50px 165px;
  }
  
}

/* small desktop */
@media only screen and (max-width: 1279px) {
  .hero-section {
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 0;
  }
  .h1-undertext {
   max-width: 400px;
   margin: 60px 0;
   width: 100%;
  }
  .cta-buttons {
    justify-content: center;
  }
  .hero-image {
    flex-basis: 100%;
    max-width: 1279px;
    width: 100%;
  }
  .hero-section .image-smallscreen {
    display: block;
  }
  .hero-section .image-bigscreen {
    display: none;
  }
  .overlay-text {
    font-size: 30px;
  }
  
}

/*tablet*/
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }
  .h1-undertext {
    font-size: 1.3em ;
  }
  .cta-buttons a {
    font-size: 1.4em;
  }
  .image-smallscreen {
    height: 500px;
    object-fit: cover;
  }
  .overlay-text {
    font-size: 26px;
  }
  .her-him-container {
    flex-direction: column;
  }

  .slide img {
    object-fit: cover;
    height: 400px;
  }
  .slide p {
    font-size: 1.1em;
  }
  .dot {
    width: 12px;
    height: 12px;
  }
}

/*phone*/
@media only screen and (max-width: 480px) {
  .hero-text{
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 1.6em;
  }
  .h1-undertext {
    font-size: 1.2em ;
    
  }
  .cta-buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 25px 0;
  }
  .cta-buttons a {
    font-size: 1.2em;
  }
  .product-heading {
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
  }
  .product-heading .right, .product-heading .left {
    padding: 5px 0;
  }
  .product1 .item1 {
    width: 182px;
    height: 219px;
  }
  .product1 a {
    max-width: 272px;
  }
  .product1-text {
    margin: 5px 0px 0px 5px;

  }
  .original-price {
    margin-left: 5px;
  }
  .discount-label {
    margin-left: 5px;
  }
  .overlay-text {
    font-size: 22px;
  }
  .overlay-text {
    font-size: 24px;
  }
}
