.h1-text {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.h1-text h1 {
  color: white;
  background-color: #325b68;
  margin-top: 25px;
  height: 150px;
  width: 1800px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-by-container {
  display: flex;
  justify-content: center;
}
.sort-by {
  position: relative;
  font-size: 1.5em;
  width: 1805px;
  border: groove 2px #325b68;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: #325b68;
}
.sort-by:focus {
  background-color: #f6f6f6;
}

.product-section {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
}
.background-product {
  width: 1800px;
  max-width: 100%;
  
  max-height: 100%;
  object-fit: cover;
  border: 1.5px solid #325b68;
  border-radius: 5px 5px 0px 0px;
  overflow-x: hidden;
  position: relative;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(/images/tobias-keller-73F4pKoUkM0-unsplash-compressed.jpg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.error-message {
  color: red;
  padding: 25px 50px 50px;
  font-size: 1.3em;
}
.h2-text {
  display: flex;
  justify-content: flex-start;
  color: #325b68;
  z-index: 2;
  padding-top: 75px;
  padding-left: 50px;
  font-size: 1.1em;
}
.product1-container {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin-top: 75px;
}

.product1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  
  
  
}

.item1 {
  width: 282px;
  height: 319px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 35px;
  padding-right: 35px;
  border: 1px solid #325b68;
  border-radius: 5px;
  cursor: pointer;
}
.item1:hover ~ .product1-text {
  text-decoration: 2px underline;
}
.item1:hover ~ .product2-text {
  text-decoration: 2px underline;
}

.sale-lable {
  background-color: rgba(255, 255, 255, 0.5);
  width: 35px;
  height: 35px;
  position: relative;
  left: 52px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
}

.product1-text {
  margin-top: 15px;
  margin-left: 50px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  color: #325b68;
}
.product2-text {
  display: flex;
  margin-top: -20px;
  margin-left: 50px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  color: #325b68;
}
.product1-text:hover {
  text-decoration: 2px underline;
}
.product2-text:hover {
  text-decoration: 2px underline;
}

.strike-tag {
  text-decoration: line-through;
}
.span-sale {
  color: red;
  font-weight: bold;
}

hr {
  display: #325b68;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1.5px;
}

/*phone*/
@media only screen and (max-width: 480px) {
  .h1-text {
    font-size: 0.8em;
  }

  .product1 .item1 {
    width: 182px;
    height: 219px;
    margin-left: 25px;
    margin-right: 25px;
  }
 
  .product1-text {
    margin-left: 25px;
  }
  .product2-text {
    margin-left: 25px;
  }

  .sale-lable {
    left: 30px;
  }

  .sort-by {
    font-size: 1.2em;
  }
}
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .h1-text {
    font-size: 1em;
  }
  
}
