@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.h1-text {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  max-width: 1800px;
  margin: 0 auto;
}

.h1-text h1 {
  color: white;
  background-color: #325b68;
  margin-top: 25px;
  padding: 10px;
  max-width: 1800px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.background-container, .sort-by-container {
  box-sizing: border-box;
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}
.background-container {
  box-shadow: 12px 0 15px -4px rgba(50, 91, 104, 0.1),
    -12px 0 8px -4px rgba(50, 91, 104, 0.1);
  border-radius: 5px 5px 0px 0px;
  background-color: #eafeff;
  
}
.sort-by-container {
  display: flex;
  justify-content: flex-end;
  padding: 35px 40px 0 0;
}
.sort-by {
  font-size: 1.5rem;
  width: 100%;
  max-width: 600px;
  border: groove 2px #325b68;
  border-radius: 5px;
  padding: 5px 0px;
  margin: 10px 0px;
  cursor: pointer;
  color: #325b68;
}
.sort-by:focus {
  background-color: #f6f6f6;
}

.product-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
.background-product {
  width: 1800px;
  max-width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.product1-container {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin: 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.product1 {
  display: flex;
  justify-content: space-between;
}
.product1 a {
  max-width: 372px;
  width: 100%;
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}
.item1 {
  width: 282px;
  height: 319px;
  padding: 35px 45px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  background-color: white;
  vertical-align: top;
}
.text-container {
  background-color: #325b68;
  border-radius: 0 0 10px 10px;
  min-height: 131px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.item1:hover ~ .product1-text {
  text-decoration: 2px underline;
}

.product1-text {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  padding: 15px 10px 10px 15px;
}
.text-container:hover {
  background-color: #1dac45;
}

.original-price {
  text-decoration: line-through;
  padding-left: 15px;
  margin-top: -5px;
  color: white;
  font-size: 1.2rem;
}
.discount-label {
  color: red;
  font-size: 1.2rem;
  padding: 5px 0 10px 15px;
}

.strike-tag {
  text-decoration: line-through;
}

hr {
  display: #325b68;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1.5px;
}

.loading-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 100px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #325b68;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
.error-message {
  color: red;
  padding: 25px 50px 50px;
  font-size: 1.3rem;
}
/*tablet*/
@media only screen and (max-width: 768px) {
  .h1-text {
    font-size: 1rem;
  }
  .sort-by-container {
    justify-content: center;
    padding: 35px 15px 0;
    
  }
}
/*phone*/
@media only screen and (max-width: 480px) {
  .h1-text {
    font-size: 0.8rem;
  }
  .product-section {
    padding: 0;
}
  .product1-container {
    display: flex;
  }
  .product1 a {
    max-width: 272px;
  }
  .product1 .item1 {
    width: 182px;
    height: 219px;
  }

  .product1-text {
    margin: 5px 0px 0px 5px;
  }

  .original-price {
    margin-left: 5px;
  }
  .discount-label {
    margin-left: 5px;
  }
  /* .product2-text {
    margin-left: 25px;
  }

  .sale-lable {
    left: 30px;
  } */

  .sort-by {
    font-size: 1.2rem;
  }
}
