.h1-text {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.h1-text h1 {
  color: white;
  background-color: #325b68;
  margin-top: 25px;
  height: 150px;
  width: 1800px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-text-container {
  display: flex;
  justify-content: center;
}
.login-text {
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
  background-color: #f6f6f6;
  border: groove 1px #325b68;
  border-radius: 5px;
  width: 1600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.icon-img {
  height: 175px;
  width: 175px;
  margin-bottom: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  color: #325b68;
  font-size: 1.4rem;
  margin-bottom: 15px;
  margin-top: 15px;
}
.login-form input {
  width: 42vw;
  padding: 15px;
  border: groove 1px #325b68;
}
.login-form input:focus {
  border: groove 2px #325b68;
}
.login-button {
  margin-top: 30px;
  padding: 20px;
  background-color: #325b68;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 25px;
}
.login-button:hover {
  background-color: #1dac45;
  transition: 0.8s;
}
.login-text p {
  margin: 15px;
}
.password {
  text-decoration: underline;
  cursor: pointer;
}
.create-account span {
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

/*tablet and phone*/
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.7rem;
  }
}
/*phone*/
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  .login-button {
    font-size: 1.3rem;
  }
  .login-form lable {
    font-size: 1.2rem;
  }
}
