body {
    font-family: 'Montserrat',arial; 
    margin: 0%;
}

a {
    text-decoration: none;
    color: white;
}

.navigation-top-bar {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #325b68;
    align-items: center;  
    height: 60px; 
    margin-top: 0%;
    position: fixed;
    width: 100%;
    padding: 0;
    
    
}

.hamburger-menu {
    font-size: 2.2em;
    padding-left: 70px;
    
}

.cart-icon2 {
    font-size: 1.8em;
    padding-right: 70px;
    
}


.navigation-top-bar a {
    margin: 0.6em;
    font-size: 1.5em;
    padding: 0.3em;
}

.navigation-top-bar a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.navigation-top-bar a:active {
    color: black;
}

.search-bar {
    position: relative;
    left:23.3vw;
    font-size: 1.9em;
    background-color: white;
    border-radius:50%;
    color: #325b68;
    width: 45px;
    height: 45px;
}


input[type=text] {
    width: 2em;
    transition: width 0.4s ease-in-out;
    height: 2.3em;
    opacity: 0%;
    text-align: left;
    cursor: pointer;
  }
  
input[type=text]:focus {
    width: 18em;
    opacity: 100%;
  }

  .input-field {
    position: absolute;
    border-radius: 20px;
    padding: 5px;
    right: 0.1em;
    padding-left: 15px;
}

.magnifying-glass-icon {
    padding: 4px;
    text-align: center;
}





.navigation-top-bar2 {
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

.logo-home {
    max-width: 16em;
    margin-left: 29vw;
    margin-top: 80px;
    
   
    
    }

.buttons-top-bar2 {
    display: flex;
    margin-left: 21vw;
    gap: 1.2em;
    margin-top: 80px;
}

.profil-icon{
    
    background-color: #325b68;
    color: white;
    font-size: 1.5em;
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border-radius: 0.3em;
    border: none;
}
.profil-icon a {
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    margin-right: -0.8em;
    margin-left: -0.8em;
    margin-bottom: -0.6em;
    margin-top: -0.6em;
}

.cart-icon {
    
    background-color: #325b68;
    color: white;
    font-size: 1.5em;
    padding: 0.62em;
    border-radius: 0.3em;
    border: none;
}

.cart-icon a {
    padding: 0.62em;
    margin: -0.62em;
}




    
.shopnow-learnmore {
    display: flex;
    justify-content: center;

}

.background-image { 
    margin-top: 25px;
    width: 100%;
    max-width: 1800px;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 5px;

}

.h1-text {
    position:absolute;
    padding-top: 225px;
    color: white;
    font-size: 1.5em;
    
    
    

}
    
.buttons-shopnow-learnmore {
    position: absolute; 
    padding-top: 23.5em;

}

.buttons-shopnow-learnmore ul {
    display: flex;
    gap: 25em;
    
   
}

.buttons-shopnow-learnmore button {
    color:white;
    background-color: #325b68;
    border: none;
    font-size: 1.7em;
    padding: 0.6em;
    border-radius: 0.3em;
    position: relative;
    
}


.buttons-shopnow-learnmore a {
    padding: 0.6em;
    margin: -0.6em;
    
}


.buttons-shopnow-learnmore button :hover {
    background-color: #1DAC45; 
    border-radius: 0.3em;  
    }
    
.buttons-shopnow-learnmore button :active {
        background-color: black;
        border-radius: 0.3em;
    }
    





@media (max-width:1100px) {
    .logo-home {
        
    }
    
    .navigation-top-bar li, .search-bar {
        display:none;
        
    }
    .buttons-top-bar2{
        display: none;
    }
    .hamburger-menu {
        margin-right: auto;
        
    }
    .cart-icon2 {
        margin-left: auto;
    }
}
@media (min-width:1101px){
    .hamburger-menu {
        display: none;
    }
    .cart-icon2 {
        display: none;
    }

}

    @media (max-width:804px) {
    .h1-text { 
        font-size: 1em;
        padding-top: 200px;
    
    }
    }
   




























